@page
@model IndexModel
@{
    ViewData["Title"] = "Programacion Avanzada Web";
}

<div class="text-center">
    <h1 class="display-4">Programacion Avanzada Web</h1>
    <p>Gregory</p>
    <p>Lester</p>
    <p>Daniel</p>
    <p>Josue</p>

    @{
        var fechaActual = DateTime.Now;
    }

    <h3>Fecha Actual: @fechaActual.ToString()</h3>

</div>
